@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* --primary: #778DA9;
    --secondary: #84A98C ;
    --accent-1: #284B63;
    --accent-2: #3C6E71;
    --cream: #F5EBE0; 
    --white-1: #fff;
    --grey-1: #575757;
    --black-1: #000; */

    --black-1: #000;
    --black-2: #141414;
    --primary: #374785; /* deep blue */
    --secondary: #A8D0E6; /* soft blue */
    --accent-1: #F53E12; /* red */
    --cream: #F8E9A1;
    
    --white-1: #fff;
    --grey-1: #dbd8d8;
    --grey-2: #383838;
}

body{
    /* background-color: var(--cream); */
}

header, footer{
    color: var(--black-1);
}

.text-color-content-1{
    color: var(--grey-2);
}

.text-color-heading-1{
    color: var(--black-1);
}

.body-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* font-variation-settings:
        "wdth" 100; */
}

.heading-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.stats{
    background-color: var(--primary);
    color: var(--grey-1);
}

.stats h2 {
    color: var(--white-1);
}

.activities, .sports{
    color: var(--accent-1);
    /* color: var(--grey-2); */
}

.activities h2, .sports h2{
    color: var(--accent-1);
    /* color: var(--black-1); */
}
