@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #778DA9;
    --secondary: #84A98C ;
    --accent-1: #284B63;
    --accent-2: #2b6164;
    --accent-3: #e64c25;
    --cream: #F5EBE0; 

    --black-1: #000;
    /* --black-2: #141414;
    --primary: #374785;
    --secondary: #A8D0E6;
    --accent-1: #F53E12; 
    --cream: #F8E9A1; */
    
    --white-1: #fff;
    --grey-1: #ededed;
    --grey-2: #575757;
}

body{
}

.nav-container{
    background-color: var(--cream);
}

/* main{
    background-color: var(--white-1);
} */

.text-accent-1{
    color: var(--accent-1);
}

.text-accent-3{
    color: var(--accent-3);
}

.text-grey-1{
    color: var(--grey-1);
}

.text-grey-2{
    color: var(--grey-2);
}

.bg-cream{
    background-color: var(--cream);
}

.bg-p{
    background-color: var(--primary);
}

.bg-white{
    background-color: var(--white-1);
}

.bg-s{
    background-color: var(--secondary);
}

.bg-accent-1 {
    background-color: var(--accent-1);
}

.bg-accent-2{
    background-color: var(--accent-2);
}

.bg-accent-3{
    background-color: var(--accent-3);
}

header, footer{
    color: var(--black-1);
}

.text-color-content-1{
    color: var(--grey-2);
}

.text-color-heading-1{
    color: var(--black-1);
}

/* .action-btn-1{
    background-color: var(--black-1);
    color: var(--white-1);
}

.action-btn-2{
    background-color: var(--accent-2);
    color: var(--cream);
} */

.btn:hover{
    background-color: var(--grey-2);
    color: var(--grey-1);
}

.body-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* font-variation-settings:
        "wdth" 100; */
}

.heading-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.stats{
    background-color: var(--accent-2);
    color: var(--grey-1);
}

.stats h2 {
    color: var(--white-1);
}

.activities, .sports{
    color: var(--accent-1);
    /* color: var(--grey-2); */
}

.activities h2, .sports h2{
    color: var(--accent-1);
    /* color: var(--black-1); */
}


.description {
    /* color: var(--cream); */
}

.big-title {
    color: var(--cream);
    font-size: 100px;
}

.big-title-sm{
    color: var(--cream);
}

.card-group {
    display: flex;
    justify-content: center;
}

.custom-card {
    height: 600px;
    background-color: var(--black-1);
}

.img-placeholder {
    height: 60%;
    background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #ddd 10px, #ddd 20px);
}

@media (min-width: 992px){
    .hero{
        height: 860px;
    }

    #header-card-section{
        height: 325px;
    }

    .header-card-container{
        position: relative;
        top: -364px;
    }
}

@media (max-width: 991px){
    .big-title{
        font-size: 45px;
        color: var(--white-1);
    }
}

.news-card{
    aspect-ratio: 1;
}

.school-card{
    /* max-width: 500px; */
}

.school-list{
    min-height: 80vh;
}

.image-1{
    height: 60%;
    background-image: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.image-2{
    height: 60%;
    background-image: url(https://images.unsplash.com/photo-1615477526821-1620da742d61?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.image-3{
    height: 60%;
    background-image: url(https://plus.unsplash.com/premium_photo-1683135222192-d9c14544d187?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aGlnaHNjaG9vbHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}

